/* Write your CSS code here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
	margin: 0;
	padding: 0;
}
:root {
	--body-color: #f6f7f9;
	--accent-color: #17294b;
}
main {
	font-family: Poppins, sans-serif;
	background-color: var(--body-color);
	width: 40rem;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.page {
	background-color: white;
	width: 23rem;
	height: 23rem;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(128, 128, 128, 0.312);
	box-sizing: border-box;
	padding: 3rem;
}
h1 {
	font-weight: 500;
}
.profile {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 20px 0 20px 0;
}
.profession,
label,
.reset,
.submitBtn {
	display: block;
	font-weight: 300;
	font-size: 0.7rem;
}
.name {
	font-weight: 600;
}
.profile img {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
.password-wrapper {
	display: flex;
	gap: 5px;
}
#password {
	border: 1px solid var(--accent-color);
	border-radius: 8px;
	height: 2rem;
	width: 80%;
	padding: 0 10px;
	box-sizing: border-box;
}
#icon {
	display: none;
}
#icon:checked + img {
	src: 'https://icons.veryicon.com/png/o/miscellaneous/personal-icon/visibility-off-3.png';
}
#icon + label {
	cursor: pointer;
}
.signed-in {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 25px 5px 0 0;
	gap: 5px;
}
.signed-in p {
	font-size: 0.6rem;
	margin-right: 4rem;
}
.toggle {
	border: 1px solid var(--accent-color);
	width: 2.5rem;
	height: 1.5rem;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding-left: 4px;
}
#toggle-checkbox {
	display: none;
}
.toggle-ball {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: var(--accent-color);
	cursor: pointer;
	transition: background-color 0.3s ease-out;
}
.submitBtn {
	width: 4rem;
	height: 2rem;
	border: none;
	border-radius: 5px;
	background-color: var(--accent-color);
	color: white;
	font-size: 0.7rem;
	cursor: pointer;
}
.reset {
	font-size: 0.7rem;
}
